/*

*/
body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
   

}

h1,h2,h4,h5,h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    color: white;  
    margin: 0;
    
}

h1 strong{
    color: #026fff;
}
.textProfession{
    padding: 5%;
    background-size: cover;
    align-items: center;
    font-size: 3.1vw;
}


h2{
    color: #026fff;
    text-transform: uppercase;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.hero{
    height: 300px;
    background-color: #1b2127;
    /* background-image: url(../images/hero.jpg); */
    /* background-size: 500px 300px; */
    /* background-repeat: no-repeat; */
    background-position-x: right; 
    /* nuestro display de flex */
    display: flex;
    /* centrar el contenido */
    align-items: center;
    /* como aca no tenemos nada de justifycontent debemos definir 
    para que container herede */
    justify-content: space-between;
    
}

#contImg{
    height: 40vh;
    width: 60vw;
   
    float:left;
    
    
   
}
#img{
    max-width: 100%;
    max-height:100% ;
    padding: 0;
    
}


.portfolio{
    background: #fafafa;
    padding: 20px;

}

.project{

    border: 1px solid gray;
    border-radius: 10px;
    /* margin: 10px; */
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    /* trabajar con el flex */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* colocar sombras para resaltar el contenido de nuestros proyectos */
    box-shadow: 3px 5px 33px #888888;

}

.project-course,
.project-date,
.project-url{
    margin: 10px 0;
}

.project-description{
    font-size: 20px;
}

.project strong{
    font-family: 'Fjalla One', sans-serif;
}

/* .project-date{
    margin: 10px 0;
} */

.project-title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-details{
    width: 500px;
}

.project-imageContainer{
    width: 500px;   
}

.project-image{
    object-fit: cover;
}

ol, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;

}
.header{
    background-color: lightgray;
    color: white;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;

}

.menu{
background: red;
color: red;
}


.header ul{
    display: flex;
    height: inherit;
}

.header ul li{
    height: inherit;
    align-items: center
}

.header a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

.footer{
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
   
}
#buttonBar{
    background:lavender;
    width: 17vw;
   
}
#rayas3{

}

.footer a{
    color: white;
}

/* .footer img{
    vertical-align: middle;
} */

.event-list{
    display: flex;
    /* para que se pongan los elementos uno debajo del otro */
    flex-wrap: wrap;
}

.event{
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    /* overflow nos sirve para generar scrolls, cuando un elemento se desborde se 
    oculta */
    overflow: hidden;
    background: white;

    box-shadow: 3px 5px 33px #888888;
}

.event img{
width: 480px;
height: 200px;
/* para que la image cuarde su estilo y no se ponga fea */
object-fit: cover;
}

.event-detail{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    /* puedo ponerle a mis elementos posiciones, en esta caso relativa */
    position: relative;
    padding: 20px;
    /* alineado de los textos */
    text-align: center;
}

.event-description{
    text-align: left;
}

.event-url{
    border: 1px solid #056fff;
    padding: 5px 20px;
    text-decoration: none;
    color: #056fff;
    border-radius: 5px;

}

.event-list-title{
    margin-left: 20px;
}

.contact{
    background: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social{
    /* border: 1px solid red; */     
}

.social-link{
    /* recorder que los a son con display inline */
    display: inline-block;
    width: 50px;
    height: 50px;
    /* border: 1px solid white; */
    background-size: 50px 50px;
    margin: 0 10px;
}

.social-link.twitter{
    background-image: url('');
    /* background-size: 50px 50px;    */
}

.social-link.facebook{
    
background-image: url('/src/images/facebook.png');
/* background-size: 50px 50px;    */
}

.social-link.instagram{
    background-image: url('');
    /* background-size: 50px 50px;    */
}

.social-link.github{
    background-image: url('');
    /* background-size: 50px 50px;    */
}

.form-email input{
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-size: 15px 15px;
    background-image: url('');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100px;
    /* margin: 10px 0 auto; */
}

.form-email h3{
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
    /* colocar este borde para evidenciar la depuracion del estilo
    al colocar todo en un contenedor */
    /* border: 1px solid red; */
    width: 1000px;
    margin: 0 auto;
    /* voy a heredar todo lo de header */
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    
}
.container-fluid{
    /* colocar este borde para evidenciar la depuracion del estilo
    al colocar todo en un contenedor */
    /* border: 1px solid red; */
    width: 100%;
    margin: 0 auto;
    /* voy a heredar todo lo de header */
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    
}



